.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header-logo {
  width: 80px;
  height: auto;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  /* This centers it perfectly */
  font-size: 2.5rem;
  margin: 0;
  font-weight: 700;
  color: #272e42
}

.header-nav {
  display: flex;
  gap: 1.5rem;
  flex: 1;
  justify-content: flex-end;  /* Pushes nav links to the right */
  margin-right:10px
}

.header-nav a {
  font-size: 1.25rem;
  text-decoration: none;
}